/* WEB DEVELOPMENT----------------------------------------- */
.webDevelopment{
    width: 100%;
    height: 655px;
    background-size: cover;
    background-position: bottom;
    background-image: url(../image/main/WebDev.jpg);
    background-color: black;
    padding-top: 185px;
}

.webDevelopment .title{
    text-align: center;
    margin-bottom: 110px;
}

.webDevelopment .title span{
    display: block;
    color: white;
}

.webDevelopment .title span:nth-child(1){
    font-size: 60px;
    font-family: OpenSans-Bold;
}

.webDevelopment .title span:nth-child(2){
    font-size: 22px;
    font-family: OpenSans-Regular;
}

.webDevelopment .buttonContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.webDevelopment .button{
    width: 220px;
    height: 70px;
    color: white;
    font-size: 20px;
    font-family: Roboto-Bold;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.webDevelopment .button1{
    border: solid 3px white;
    margin-right: 30px;
}

.webDevelopment .button2{
    background-color: rgb(0, 137, 123);
    border: solid 3px rgb(0, 137, 123);
}

.webDevelopment .button1:hover{
    transition: all ease 1s;
    background-color: rgb(0, 137, 123);
    border: solid 3px rgb(0, 137, 123);
}

.webDevelopment .button2:hover{
    transition: all ease 1s;
    border: solid 3px white;
    background-color: transparent;
}

.webDevelopment .arrow{
    width: 23px;
    height: 15px;
    background-image: url(../image/main/arrow.png);
    margin: auto;
    cursor: pointer;
}
/* ABOUT US -------------------------------------------------- */
.aboutUs{
    width: 100%;
    height: 655px;
    background-color: white;
    padding-top: 125px;
}

.aboutUs .title{
    text-align: center;
}

.aboutUs span{
    display: block;
}

.aboutUs .title span:nth-child(1){
    font-size: 30px;
    font-family: OpenSans-Bold;
    margin-bottom: 30px;
}

.aboutUs .title span:nth-child(2){
    font-size: 15px;
    font-family: OpenSans-Regular;
    width: 630px;
    margin:auto;
    margin-bottom: 125px;
}

.aboutUs .cardContainer{
    display: flex;
    justify-content: center;
}

.aboutUs .card{
    width: 250px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 140px;
}

.aboutUs .card:first-child{
    margin-left: 20px;
}

.aboutUs .card:last-child{
    margin-right: 20px;
}

.aboutUs .card img{
    width: 65px;
    height: 65px;
    margin-bottom: 30px;
}

.aboutUs .card span{
    display: block;
}

.aboutUs .card span:nth-child(2){
    margin-bottom: 20px;
    font-size: 20px;
    font-family: OpenSans-SemiBold;
}

.aboutUs .card span:nth-child(3){
    font-size: 15px;
    font-family: OpenSans-Regular;
}
/* OUR SERVICES-------------------------------------------------- */
.ourServices{
    width: 100%;
    background-color: rgb(228, 253,249);
    padding: 125px 115px 95px 115px;
}

.ourServices span{
    display: block;
    margin: auto;
    text-align: center;
}

.ourServices .title span:nth-child(1){
    width: 210px;
    font-size: 30px;
    font-family: OpenSans-Bold;
    margin-bottom: 35px;
}

.ourServices .title span:nth-child(2){
    width: 630px;
    font-size: 15px;
    font-family: OpenSans-Regular;
    margin-bottom: 110px;
}

.ourServices .cardContainer{
    display: grid;
    justify-content: center;
    grid-template-columns: 370px 370px 370px;
    column-gap: 30px;
}

.ourServices .card{
    width: 370px;
    height: 438px;
    background-color: white;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 55px;
}

.ourServices .card .logo{
    width: 56px;
    height: 62px;
    background-image: url(../image/main/smartphone_copy.png);
    margin-bottom: 40px;    
}

.ourServices .card span:nth-child(2){
    margin: 0 0 25px 0;
    font-size: 20px;
    font-family: OpenSans-SemiBold;
}

.ourServices .card span:nth-child(3){
    margin: 0 0 40px 0;
    font-size: 15px;
    font-family: OpenSans-Regular;
    width: 80%;
}

.ourServices .card .button{
    width: 150px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border: solid 3px black;
    cursor: pointer;
    font-size: 20px;
    font-family: OpenSans-SemiBold;
}

.ourServices .card:hover {
    transition: all ease 1s;
    background-color: rgb(0, 137, 123);
    color: white;
}

.ourServices .card:hover .logo{
    transition: background-image ease 1s;
    background-image: url(../image/main/smartphone.png);
}

.ourServices .card:hover .button {
    transition: border ease 1s;
    border: solid 3px white
}
/* Lastest Work------------------------------------------------------------- */
.lastestWork{
    padding: 125px 115px 95px 115px;
    background-color: white;
}

.lastestWork .title span{
    display: block;
    margin: auto;
}

.lastestWork .title span:nth-child(1){
    width: 210px;
    font-size: 30px;
    font-family: OpenSans-Bold;
    margin-bottom: 35px;
}

.lastestWork .title span:nth-child(2){
    width: 630px;
    font-size: 15px;
    font-family: OpenSans-Regular;
    margin-bottom: 115px;
    text-align: center;
}

.lastestWork .buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.lastestWork .buttonContainer .button{
    height: 55px;
    line-height: 55px;
    padding: 0 20px 0 20px;
    margin-right: 20px;
    border: solid 3px rgb(0, 137, 123);
    font-size: 20px;
    font-family: OpenSans-SemiBold;
    cursor: pointer;
}

.lastestWork .buttonContainer .button:hover{
    background-color: rgb(0, 137, 123);
    color: white;
}

.lastestWork .buttonContainer .button:last-child{
    margin-right: 0;   
}

.lastestWork .goods .cardContainer{
    display: grid;
    justify-content: center;
    grid-template-columns: 370px 370px 370px;
    column-gap: 30px;
}

.lastestWork .cardContainer .card{
    width: 370px;
    height: 370px;
    background-image: url(../image/goods/1.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    animation: blinker 1s linear;
}
  
@keyframes blinker {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.lastestWork .card .description{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lastestWork .card .description:hover{
    opacity: 1;
}
/* Pricing Plan------------------------------------------------------------- */
.pricingPlan{
    width: 100%;
    padding: 125px 115px 125px 115px;
    background-color: rgb(240, 241, 241);
}

.pricingPlan .title span{
    display: block;
    margin: auto;
    text-align: center;
}

.pricingPlan .title span:nth-child(1){
    width: 210px;
    font-size: 30px;
    font-family: OpenSans-Bold;
    margin-bottom: 35px;
}


.pricingPlan .title span:nth-child(2){
    width: 630px;
    font-size: 15px;
    font-family: OpenSans-Regular;
    margin-bottom: 125px;
}

.pricingPlan .cardContainer{
    display: grid;
    justify-content: center;
    grid-template-columns: 370px 370px 370px;
    column-gap: 30px;
}

.pricingPlan .cardContainer .card{
    width: 370px;
    height: 670px;
    background-color: white;
    margin-bottom: 30px;
}

.pricingPlan .card .cardHeader{
    padding: 50px 0 0 0;
    width: 100%;
    height: 210px;
    background-image: url(../image/main/cardHeader.png);
    background-size: cover;
    text-align: center;
    margin-bottom: 35px;
}

.pricingPlan .card .cardHeader span{
    font-family: OpenSans-Regular;
    color: white;
    font-size: 25px;
}

.pricingPlan .card .cardHeader span:nth-child(1){
    display: block;
}

.pricingPlan .card .cardHeader .price span:nth-child(1){
    display: inline;
    margin: 0;
}

.pricingPlan .card .cardHeader .price span:nth-child(1){
    display: inline;
    margin: 0;
    position: relative;
    bottom: 20px;
}

.pricingPlan .card .cardHeader .price span:nth-child(2){
    font-size: 50px;
}

.pricingPlan .card .cardHeader .price span:nth-child(3){
    font-size: 17px;
}

.pricingPlan .card .cardContent span{
    display: block;
    width: 180px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-family: OpenSans-Light;
    font-size: 17px;
    border-bottom: solid 2px rgb(191, 191, 191);
    margin: auto;
    margin-bottom: 25px;
}

.pricingPlan .card .cardContent span:nth-child(4){
    margin-bottom: 65px;
}

.pricingPlan .card .cardContent .button{
    border: solid 3px black;
    width: 180px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: OpenSans-SemiBold;
    font-size: 20px;
    cursor: pointer;
}

.pricingPlan .cardContainer .card:hover{
    position: relative;
    animation: flow 0.5s linear alternate;
    animation-fill-mode: forwards;
}

.pricingPlan .card .cardContent .button:hover{
    transition: all ease 1s;
    background-color: rgb(0, 137, 123);
    border-color: rgb(0, 137, 123);
    color: white;  
}



@keyframes flow{
    0% {
        bottom: 0;
        box-shadow: 0px 0px 0px grey;
      }
      100% {
          bottom: 15px;
          box-shadow: 10px 10px 10px grey;
      }
}