@media screen and (max-device-width:720px){
    .wrap{
        min-width: auto;
        width: 100%;
    }
    
    header{
        align-items: flex-start;
        padding: 35px 15px 0 15px;
    }

    .logo{
        font-size: 30px;
    }

    .hiddenMenu{
        margin-top: 10px;
    }

    .hamburger{
        width: 70px;
        height: 70px;
        position: relative;
        left: 38px;
    }

    .hiddenNavig li, .hiddenSearch input{
        font-size: 20px;
    }

    .hiddenSearch input{
        width: 100px;
    }

    .hiddenSearch{
        margin-top: 10px;
    }
}